<div class="info">
  <strong>Posted by</strong>: {{ name }}
</div>
<hr>
<div class="comment">
  {{ comment.comment_body.value }}
</div>
<hr>
<div class="operations">
  <strong>Posted on</strong>: <a href="{{ node_url }}">{{ node_url }}</a><br>
  <strong>View comment</strong>: <a href="{{ comment_url }}">{{ comment_url }}</a><br>
  <strong>Delete comment</strong>: <a href="{{ delete_url }}">{{ delete_url }}</a><br>
</div>
